<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Some changes in Images you're interested in</h1>
    <p>
      Hi <%= @recipient %>!
    </p>
    <p>
      Some changes been made in the category you've chosen.
    </p>
    <p>
      To login to the site, just follow this link: https://radiant-shelf-39196.herokuapp.com/ru/categories/
    </p>
    <p>Thanks for choosing us and have a great day!</p>
  </body>
</html>