<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Gallery</h1>
    <p>
      Hi <%= @recipient %>!
    </p>
    <p>
      You have successfully signed up to Gallery.
    </p>
    <p>
      To login to the site, just follow this link: https://radiant-shelf-39196.herokuapp.com/
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>