<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear
      <%= @user_name %>
    </h1>
    <p>
      Your letter has been sent.
    </p>
    <p> Thank you!
    </p>
  </body>
</html>