%h2 Edit category
= render 'shared/edit_categories'

%h3
  Images in #{@category.name}
#images.transitions-enabled
  - if @category.images.exists?
    - @category.images.each do |image|
      .box.panel.panel-default
        .panel.panel-default
          .panel-heading
            = image_tag image.image_url(:thumb)
            = link_to 'Delete', image_path(image), class:'delete', method: :delete, data: {confirm: 'Are you sure?'}
