#images.transitions-enabled.centered.pagination-centered.clearfix.masonry
  - @images.each do |image|
    .box
      = render(partial: "image", locals: { image: image })
%nav#page-nav
  = link_to_next_page @images, ''
